.plot-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 6rem;
  margin-right: 6rem;
}
.plots-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
}
.plot{
  width: 65%;
}
.title{
  text-align: center;
  font-size: 60px;
  margin-bottom: 3rem;
  font-weight: bolder;
}
